body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
   
}
section{
    width: 60%;
    margin: auto;
}

div {
    display: block;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: normal;
    padding-bottom: 10px;
}
p {
    line-height: 2;
    display: block;
    font-size: 20px;
}



hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
.image-2{
    width: 30%;
    float: left;
    margin-right: 20px;
}

    

.image-3{
    width: 40%;
    float: right;
    margin-left: 30px;
}
button{
    background-color: #11999E;
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
   
    
}
a{
    text-decoration: none;
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    
}
a:hover {
    color: #EAF6F6;
    background: #3ad523;
}
.front{
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}


.bottom{
    
     background-color: #66BFBF;
     padding: 50px 0 20px;
    
}
.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
  
}