* {
    box-sizing: border-box;
    
}

body{
    display: block;
    
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-align: center;
    color: rgb(13, 2, 4);
    margin-left: 100px;
    margin-right: auto;
    overflow: scroll;

}
section{
    text-align: center;
}
h1{
    font-size: 50px;
    font-weight:500;
    color: pink;
}

.column{
    background-color: rgb(244, 203, 211);
    float: left;
    width: 25%;
    padding: 10px;
    height: auto;
    border: 3px solid rgb(214, 171, 178);
    border-radius: 15px;
    margin: 30px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

  a{
    text-decoration: none;
    color: bisque;
  }
  a:hover{
    cursor: grabbing;
  }
  button{
    background-color: black;
    border-radius: 15px;
    width: 100px;
    
  }

  .price{
    color: antiquewhite;
    font-size: 40px;
  }