body{
    background-color: rgb(225, 220, 220);
    text-align: center;
    font-family:  Roboto, system-ui, -apple-system, BlinkMacSystemFont,
     'Segoe UI',Oxygen, Ubuntu, Cantarell, 'Open Sans',
      'Helvetica Neue', sans-serif;
    font-size: 20px;
}
@font-face {
    font-family:Give You Glory ;
    src: url("https://fonts.googleapis.com/css2?family=Give+You+Glory&display=swap");
}
.header{
    font-family:cursive;
    color: blue;
    font-size: 100px;
    font-style: italic;
}
.fade{
    color: rgb(193, 188, 188);
}
.input{
    width: 30%;
    padding: 5px;
    border-color: rgb(225, 220, 220);
    border-radius: 20px;
}
a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
button{
    
    background-color: rgb(34, 34, 251);
    border: 0px;
    border-radius: 5px;
    width:200px;
}
p{
    font-size: 15px;
}
.footer{
    padding: 1px;
    border: 1px solid black;
    border-radius: 400%;

}